:root {
  // Vars
  --header: 75px;
  --footer: 65px;
  --screen-height: calc(100vh - var(--footer));
  --ide-height: calc(
    100vh - var(--header) - var(--footer) - var(--tabs-height) - 0.5rem -
      var(--tabs-padding)
  );

  --bg-primary: #ffffffc0; // background and request field
  --bg-secondary: #f1f2f4; // response field
  --bg-primary-dark: #281e5b;
  --bg-dark: #10101bc4;
  --bg-message: #ffffff2c;
  --bg-modal: #181828; // background
  --bg-dark-cyan: #154e54; // for modal
  --bg-hover-modal: #222239;
  --text-ternary: #ffffffa8;
  --text-theme-hover: #a0ded1; // light text for dark bg
  --black: #000000;
  --white: #ffffff;
  --antiquewhite: #faebd7;
  --aliceblue: #f0f8ff;
  --bg-color-prime: rgba(44, 255, 255, 0.24);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
