.container {
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: 100vh;
  // height: 100%;
}

.main {
  min-height: calc(100vh - var(--footer));
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: var(--bg-modal);
  font-size: 14px;
  line-height: 1;
}
