.message_box {
  // background-color: #a0ded1;
  height: 100%;
  color: #a0ded1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  padding-left: 4rem;
  overflow: hidden;
}
