@import 'src/app/styles/normalize', 'src/app/styles/vars',
  'src/app/styles/mixins';

.message_box {
  height: calc(100vh - var(--header));
  padding-top: 3rem;
  padding-left: 4rem;
  color: #a0ded1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.scroll {
  overflow-y: scroll;
  @include custom-scroll-bar;
}
