.message_box {
  // padding-top: var(--header);
  height: calc(100vh - var(--header));
  padding-top: 0.1rem;
  color: #a0ded1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // padding: 2rem;
  padding-left: 4rem;
}

.scroll {
  overflow-y: scroll;
}
