.footer-container {
  & * {
    // color: var(--text-ternary);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 130%;

    @media (max-width: 450px) {
      font-size: 0.65rem;
    }

    @media (max-width: 350px) {
      font-size: 0.55rem;
    }
  }
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  min-height: var(--footer);

  span {
    color: var(--text-theme-hover);
  }
}

.footer-logo__link {
  color: var(--text-theme-hover);
  display: block;
  font-size: inherit;
  &:hover {
    color: var(--text-default);
    text-decoration: underline;
  }
}
