.footer-container {
  background-color: rgba(44, 255, 255, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  min-height: var(--footer);
  color: var(--text-theme-hover);
}

.footer-logo__link {
  color: var(--text-theme-hover) !important;
  font-size: inherit;
  &:hover {
    color: var(--text-default);
    text-decoration: underline;
  }
}
