#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

// background: -webkit-linear-gradient(90deg, #a0ded1,#24cca7,#094e3f,#084437,#b9efe3);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #a0ded1,#24cca7,#094e3f,#084437,#b9efe3);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// background: -webkit-linear-gradient(90deg, #10b9bc,#0daba1,#0b8e85,#0b748e,#600b8e);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #10b9bc,#0daba1,#0b8e85,#0b748e,#600b8e);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.main_box {
  background: linear-gradient(
    -45deg,
    #10b9bc,
    #0daba1,
    #0b8e85,
    #0b748e,
    #600b8e
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: calc(100vh - var(--header) - var(--footer));
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
