.app_title {
  color: var(--text-theme-hover);
  //   #281e5b;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
