@import 'styles/normalize', 'styles/vars', 'styles/mixins';

* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-primary);
  overflow-x: hidden;
  @include custom-scroll-bar;
}

button.ant-btn-primary {
  box-shadow: none;
}

/* Works on Firefox */
#custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-secondary) transparent;
}
/* Works on Chrome, Edge, and Safari */
#custom-scroll::-webkit-scrollbar {
  width: 20px;
}
#custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
#custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary);
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: content-box;
  transition: all 0.15s ease-in-out;
}

#hidden-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-secondary) transparent;
}

/* Works on Chrome, Edge, and Safari */
#hidden-scroll::-webkit-scrollbar {
  width: 0px;
}
#hidden-scroll::-webkit-scrollbar-track {
  background: transparent;
}
#hidden-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
  background-clip: content-box;
}

.MuiTextField-root {
  border-radius: 30%;
}
