#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main_container {
  background: linear-gradient(
    -45deg,
    #10b9bc,
    #0daba1,
    #0b8e85,
    #0b748e,
    #600b8e
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: calc(100vh - var(--header) - var(--footer));
  margin: 0 auto;
}

.main_wrapper {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  h1 {
    margin-bottom: 0.5rem;
    color: var(--white);
    font-size: 2.5rem;

    @media (max-width: 800px) {
      font-size: 2rem;
    }
  }

  @media (max-width: 800px) {
    max-width: 25.5rem;
  }
}

.home_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
  height: 7rem;
  margin-bottom: 0.5rem;
  background: url('../../../assets/icon.png') center no-repeat;
  background-size: 100%;

  @media (max-width: 800px) {
    width: 6rem;
    height: 6rem;
    margin-bottom: 0.5rem;
  }
}

.note {
  display: block;
  font-size: 1rem;
  line-height: 1.35;
  margin-bottom: 2rem !important;
  color: var(--text-ternary);

  @media (max-width: 800px) {
    margin-bottom: 0.6rem;
  }
}

.login_form {
  min-height: 26.25rem;
}

.input {
  width: 100%;
  // border: 30px solid #0b748e;
  // border-color: #600b8e !important;
}

.MuiTextField-root {
  border-color: #600b8e;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
