@import 'src/app/styles/normalize', 'src/app/styles/vars',
  'src/app/styles/mixins';

.message_box {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-right: 3rem;

  .message_text {
    background-color: rgba(255, 255, 255, 0.174);
    border-radius: 10px 10px 10px 0px;
  }

  @include tablet {
    margin-right: 1rem;
  }
}

.own {
  flex-direction: row-reverse;

  .message_text {
    background-color: var(--bg-color-prime);
    border-radius: 10px 10px 0px 10px;
    color: antiquewhite;
  }
}

.message_info {
  margin-right: 1rem;
  margin-left: 1rem;
  min-width: 3rem;
  display: flex;

  @include tablet {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    min-width: 2rem;
  }
}

.message_text {
  padding: 0.7rem;
  height: auto;
  width: auto;
  max-width: 80%;

  @include tablet {
    padding: 0.6rem;
    max-width: 70%;
  }
}

.img {
  width: 50%;
}
