.message_box {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-right: 3rem;

  .message_text {
    background-color: rgba(255, 255, 255, 0.174);
    border-radius: 10px 10px 10px 0px;
  }
}

.own {
  flex-direction: row-reverse;
  margin-bottom: 1rem;
  display: flex;

  .message_text {
    background-color: var(--bg-color-prime);
    border-radius: 10px 10px 0px 10px;
    color: antiquewhite;
  }
}

.message_info {
  margin-right: 1rem;
  margin-left: 1rem;
  min-width: 3rem;
  display: flex;
}

.message_text {
  padding: 0.7rem;
  height: auto;
  width: auto;
  max-width: 80%;
}
