@import 'src/app/styles/normalize', 'src/app/styles/vars',
  'src/app/styles/mixins';

.send_box {
  width: 100%;
  height: auto;
  background-color: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.2rem;
  padding-left: 1rem;
  padding-right: 2rem;
  gap: 0.3rem;

  @include tablet {
    padding-right: 1rem;
  }
}

.send_input {
  height: auto;
  min-height: 3rem;
  width: 50%;
  margin-right: 1rem;
  color: var(--text-theme-hover);
  padding-left: 1rem;
}
