.box_file-message {
  display: flex;
  min-width: 12rem;
  gap: 1rem;

  margin-bottom: 0.6rem;
}

.file-data {
  gap: 0.6rem;
  display: flex;
  flex-direction: column;

  span {
    font-weight: 100;
  }
}
